body {
  background-color: gray;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  grid-template-rows: max-content max-content;
  grid-template-areas:
    ". . . logo logo  . . ."
    " sidebar main main main main main main main ";
  padding: 0em 10em;
}

#logo {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

#maindiv {
  grid-area: main;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: max-content max-content max-content;
  gap: 0px 0px;
  grid-template-areas:
    "signup guide"
    "form guide"
    "buttons guide";
}

#guide {
  grid-area: guide;
  background-color: black;
  color: green;
}

#form {
  grid-area: form;
  background-color: white;
  height: 60vh;
}

#buttons {
  grid-area: buttons;
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  padding: 10px 18px;
  background-color: none;
  margin: 5px;
}

#signup {
  grid-area: signup;
  background-color: white;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

#sidebar {
  transform: rotate(-90deg);
  position: relative;
  left: 20vw;
  grid-area: sidebar;
}
